{% extends "templates/painel.twig"%}
{% block head %}
     <title>EZ CODE - Problemas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="imagens/ez_icone.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/perfil.css" rel="stylesheet" type="text/css"/>
    <link href="/css/cadastro.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}
{% block conteudo %} 

    <div class="col-xs-2">

    </div>

    <div class="col-xs-8">
        <table class="table">
            <thead>
                <tr> <th style="width: 12%">Responder</th>
                    <th style="width: 12%">#</th>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Entrada</th>
                    <th>Saída</th>
                    <th>Enunciado</th>
                </tr>
            </thead>
            <tbody>
                {% for problema in problemas %}
                    <tr>
                        <td><a href="problemas/problema_solo/{{ problema.id }}"><i class="fas fa-comment"></i></a></td>
                        <td><a href="problemas/problemas_edit/{{ problema.id }}"><i class="fas fa-cogs"></i></a></td>
                        <td>{{ problema.id }}</td>
                        <td>{{ problema.titulo }}</td>
                        <td>{{ problema.entrada }}</td>
                        <td>{{ problema.saida }}</td>
                        <td>{{ problema.enunciado }}</td>
                    </tr>
                {%endfor%} 
            </tbody>
        </table>
            <a href="/problemas/adicionar" type="button" class="btn btn-success" style="margin-bottom: 0px"><i class="fas fa-plus"></i> Adicionar</a>
    </div>
{% endblock %}
