{% extends "templates/painel.twig"%}
{% block head %}
    <title>EZ CODE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="imagens/ez_icone.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" 
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/perfil.css" rel="stylesheet" type="text/css"/>
    <link href="/css/cadastro.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block conteudo %} 
    <div class="row">
        <div class="col-xs-2">

        </div>
        <div class="col-sm-4">
            <form id="formPerfil" action="/formUsuariosEdit" method="POST">
                <div class="form-group">
                    <label for="nome">ID</label>
                    <input type="text" class="form-control" value="{{ dados['id'] }}" disabled>
                    <input type="hidden" class="form-control" name="idUser" value="{{ dados['id'] }}">
                </div>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" name="nome" value="{{ dados['nome'] }}">
                </div>
                <div class="form-group">
                    <label for="sobrenome">Sobrenome</label>
                    <input type="text" class="form-control" name="sobrenome" value="{{ dados['sobrenome'] }}">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" value="{{ dados['username'] }}">
                </div>
                <div class="form-group">
                    <label for="senha">Senha *</label>
                    <input type="password" class="form-control" name="senha" required>
                </div>
                <div class="form-group">
                    <label for="confirmaSenha">Confirma Senha *</label>
                    <input type="password" class="form-control" name="confirmaSenha" required>
                </div>
                <button type="submit" class="btn btn-success col-sm-3">Submit</button>
                <a href="/usuarios/usuarios_excluir/{{ dados['id'] }}" class="btn btn-danger col-sm-3" style="margin-left: 30px">Excluir</a>
            </form>
        </div>
    </div>
{% endblock %}
